@charset "utf-8";

body {
  text-align: center;
  /* background-color: #cfd8dc; */
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  background: white;
  border-radius: 20%;
  padding: 0;
}

.game__name {
  font-size: 82px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  transform: translateY(240px);
}

.game {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 800px;
  height: 500px;
  margin: 80px auto;
  background: url(img/background.png) center/cover;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.game-blur {
  opacity: 0.3;
}

.game__header {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.game__stop-button {
  width: 120px;
  height: 60px;
  margin: auto;
  font-size: 28px;
  border: 4px solid white;
  border-radius: 12px;
  background-color: black;
  color: white;
  transition: tansform 300ms ease-in;
  visibility: hidden;
}

.game__button:hover {
  transform: scale(1.1);
}

.game__timer {
  width: 110px;
  border: 4px solid black;
  border-radius: 12px;
  background-color: white;
  font-size: 38px;
  margin: 10px auto;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game__score {
  width: 50px;
  height: 50px;
  border: 4px solid black;
  border-radius: 50%;
  background-color: salmon;
  color: white;
  font-size: 46px;
  margin: auto;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game__field {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  border-radius: 0 0 20px 20px;
  position: relative;
}

.pop-up {
  width: 350px;
  height: 170px;
  margin: auto;
  transform: translateY(-200%);
  background-color: #000000;
  border-radius: 20px;
}

.pop-up__refresh {
  width: 70px;
  height: 70px;
  margin: 15px;
  font-size: 30px;
  background-color: lightyellow;
  color: black;
  border-radius: 50%;
  transition: transform 300ms ease-in;
}

.pop-up__refresh:hover {
  transition: scale(1.1);
}

.pop-up__message {
  display: block;
  font-size: 46px;
  color: white;
}

.carrot,
.bug {
  transition: transform 100ms ease-in;
}

.carrot:hover,
.bug:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.level {
  width: 600px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  transform: translateY(-170%);
  background-color: #47846f;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.level-title {
  font-size: 40px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.level-message {
  color: white;
  font-size: 20px;
  margin-bottom: 12px;
}

.level-button {
  width: 100px;
  height: 40px;
  margin-right: 6px;
  font-size: 20px;
  border-radius: 6px;
  transition: all 250ms ease-in;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.level-button:hover {
  color: white;
  font-weight: bold;
  transform: scale(1.08);
}

.level-easy:hover {
  background-color: #ff953e;
}

.level-medium:hover {
  background-color: #ff6300;
}

.level-high:hover {
  background-color: #c42f00;
}

.hide {
  display: none;
}
