@charset "utf-8";

:root {
  /* Font Size */
  --font-larger: 6rem;
  --font-medium: 3rem;
  --font-regular: 2rem;

  /* color */
  --color-orange: #ff953e;
  --color-darkOrange: #ff6300;
  --color-red: #c42f00;
  --color-black: #000;
  --color-salmon: #fa8072;
  --color-lightYellow: #ffffe0;
  --color-white: #fff;
}

/* 깃헙 배포시 크기 조절 */
/* html {
  font-size: 16px;
} */

body {
  text-align: center;
  position: relative;
  background-color: var(--color-black);
  margin: 0;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
}

.game__name {
  font-size: var(--font-larger);
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  transform: translateY(200%);
}

.game {
  width: 96rem;
  height: 60rem;
  margin: 4rem auto;

  display: flex;
  flex-direction: column;
  background: url(img/background.png) center/cover;

  border-radius: 1.1rem;
}

.game__header {
  display: flex;
  flex-direction: column;
  margin-top: 6.3rem;
}

.game__stop-button {
  width: 13rem;
  height: 6.3rem;
  margin: auto;
  font-size: var(--font-medium);
  border: 6px solid white;
  border-radius: 12px;
  background-color: var(--color-black);
  color: var(--color-white);
  transition: tansform 250ms ease-in;
  visibility: hidden;
}

.game__stop-button:hover {
  transform: scale(1.1);
}

.game__timer {
  width: 13rem;
  height: 4.3rem;
  line-height: 4.3rem;
  border: 6px solid black;
  border-radius: 12px;
  background-color: var(--color-white);
  font-size: var(--font-medium);
  margin: 1rem auto;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game__score {
  width: 6.3rem;
  height: 6.3rem;
  line-height: 6.3rem;
  border: 6px solid black;
  border-radius: 50%;
  background-color: var(--color-salmon);
  color: var(--color-white);
  font-size: var(--font-medium);
  margin: auto;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game__field {
  width: 100%;
  height: 100%;
  margin-top: 28rem;
  border-radius: 0 0 20px 20px;
  position: relative;
}

.pop-up,
.level {
  width: 50rem;
  height: 25rem;
  background-color: var(--color-black);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pop-up__refresh {
  width: 8rem;
  height: 8rem;
  margin: 1rem;
  font-size: var(--font-medium);
  background-color: var(--color-lightYellow);
  color: var(--color-black);
  border-radius: 50%;
  transition: transform 100ms ease-out;
}

.pop-up__refresh:hover {
  transform: scale(1.1);
}

.pop-up__message {
  display: block;
  font-size: var(--font-larger);
  color: var(--color-white);
}

.carrot,
.bug {
  width: 6rem;
  height: 6rem;
  transition: transform 100ms ease-in;
}

.carrot:hover,
.bug:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.level-title {
  font-size: var(--font-medium);
  color: var(--color-white);
  font-weight: bold;
  margin-bottom: 1.7rem;
}

.level-message {
  color: var(--color-white);
  font-size: var(--font-regular);
  margin-bottom: 0.8rem;
}

.level-button-wrap {
  display: flex;
  justify-content: center;
}

.level-button {
  width: 10rem;
  height: 4rem;
  font-size: var(--font-regular);
  color: var(--color-white);
  border-radius: 6px;
  transition: all 250ms ease-in;
}

.level-button:hover {
  color: var(--color-white);
  font-weight: bold;
  transform: scale(1.08);
}

.level-button.level-medium {
  margin: 0 2rem;
}

.level-button.level-easy {
  background-color: var(--color-orange);
}

.level-button.level-medium {
  background-color: var(--color-darkOrange);
}

.level-button.level-high {
  background-color: var(--color-red);
}

.level-button:hover {
  background-color: var(--color-white);
  transform: scale(1.02);
}

.level-button.level-easy:hover {
  color: var(--color-orange);
}

.level-button.level-medium:hover {
  color: var(--color-darkOrange);
}

.level-button.level-high:hover {
  color: var(--color-red);
}

.hide {
  display: none;
}
